body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;  
    align-items: center;
    padding: 0 48px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 10px; 
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

#first{
    margin-right: auto;
}



.doctor{
    font-size: 48px;
    font-weight: 900;
}

.doc-descrip{
    color: #E5E7EB;
    font-size: 18px;  
    max-width: 700px;
}

.appointment{
    background-color: #3882F6;
    padding: 8px 16px;
    color: white;
    width: 200px;
    min-width: 100px;
    border-radius: 10px;
    border-color: #3882F6;
}

.main-top {
    margin: 100px 48px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-shrink: 1;
}

.momo{
    display: flex;
    align-self: center;
    flex-shrink: 1;
}

.appointment:hover {
    background-color: #F9FAF8;
    color:#3882F6;
    cursor: pointer;
}