body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;  
    align-items: center;
    padding: 0 48px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 14px; 
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

#first{
    margin-right: auto;
}

.doctor{
    font-size: 48px;
    font-weight: 900;
}

.doc-descrip{
    color: #E5E7EB;
    font-size: 18px;  
    max-width: 700px;
}

.appointment{
    background-color: #3882F6;
    padding: 8px 16px;
    color: white;
    width: 200px;
    min-width: 100px;
    border-radius: 10px;
    border-color: #3882F6;
}

.main-top {
    margin: 100px 48px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-shrink: 1;
}

.momo{
    display: flex;
    align-self: center;
    flex-shrink: 1;
}

.appointment:hover {
    background-color: #F9FAF8;
    color:#3882F6;
    cursor: pointer;
}



#second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:90px;
    margin-bottom: 100px;
}

.clients{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937
}

.alex-wrap{
    width: 180px;
    height: 180px;
    overflow: hidden;
    border: 3px solid #3882F6;
    border-radius: 18px;
}
.alex{
    margin:-190px 0 0 -30px;
}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 180px;
}

.clients-descrip{
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
    color:#7d7e7e 
}

#second img{
    border: 3px solid #3882F6;
    border-radius: 18px;
}

#third{
    padding: 130px;
    background-color:#E5E7EB ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote{
    font-size:36px;
    font-weight: lighter;
    color: #1F2937;
    margin-bottom:20px;
    max-width: 950px;
}

.author{
    font-size: 24px;
    font-weight: bold;
    align-self:flex-end;
    margin-right: 30px;
    font-style: italic;
}


#fourth{
    padding:100px;
    display: flex;
    justify-content: center;
}

.box{
    background-color: #3882F6;
    color:#F9FAF8;
    padding:30px 100px;
    border-radius: 8px;
    display: flex;
    gap: 80px;
}

.action{
    font-size:24px;
    font-weight: 500;
}

.product{
    color:#E5E7EB;
    font-weight: 200;
}

.food{
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-size: 16px
}

.food:hover{
    background-color: #F9FAF8;
    color:#3882F6;
    cursor: pointer;
}